// 项目提供scss全局变量 scss $   less @
// F7F8FC
$index_color: #a4579d;
$index_bgcolor: #f7f8fc;
// 左侧的菜单宽度
$base_menu_width: 260px;
// 左侧菜单折叠后的宽度
$base_menu_min_width: 55px;
// 左侧菜单背景色
$base_menu_background_color: #001529;
// 顶部导航高度
$base_tabbar_height: 50px;

// 左侧菜单logo高度设置
$base_menu_logo_height: 50px;
// 左侧菜单logo 右侧文字大小
$base_menu_logo_title_fontSize: 20px;
